@theme {
    --color-brand-50: #f3fbf6;
    --color-brand-100: #e9f7ef;
    --color-brand-200: #c8eedc;
    --color-brand-300: #9ee0c1;
    --color-brand-400: #6ccc9f;
    --color-brand-500: #3fbf7a;
    --color-brand-600: #16a34a;
    --color-brand-700: #15803d;
    --color-brand-800: #166534;
    --color-brand-900: #14532d;
}
